* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


nav {
    background-color: rgb(66, 59, 59);
    min-width: 100%;
    height: 40px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #fff;
    font-size: 1.1rem;
    padding-left: 3rem;
}
.logo p a{
    text-decoration: none;
    color: #fff;
}

.links li {
    display: inline;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
     /* align-self: space-between; */
}

.links li a {
    text-decoration: none;
    color: #fff;
}

main {
    min-width: 98%;
    min-height: 100%;
}

.container1 {
    /* background-color: antiquewhite; */
    width: 98%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    align-items: center;
}

.text {
    color: rgb(29, 25, 25);
    align-self: center;
}

.text .para1 {
    font-size: 2rem;
    font-style: bold;
    font-weight: 600;

}

.text .para2 {
    padding-top: 10px;
    /* padding-bottom: 15px; */
}

.text>a input {
    background: none;
    background-color: #24A0ED;
    color: #fff;
    width: 100px;
    height: 35px;
    margin-top: 30px;
    border: 2px solid #24A0ED;
}

.box {
    min-width: 500px;
    height: 400px;
    background-color: rgb(202, 198, 198);
    border-radius: 10px  ;
}

.box>p {

    color: rgb(161, 146, 146);
    font-size: 55px;
    text-align: center;
    padding-top: 160px;
}

.container2{
    background-color: #f8f8f8;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.feature {
    flex-grow: 1;
    padding: 25px;    
}
.container3{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    text-align: center;
    
}
.footer {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

